*.iml
.gradle

/local.properties
local.properties

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/

gradle/

app/debug/
/*/src/androidTest
/*/src/test

/captures

build/
bin/
gen/
out/

*.log

/*/out
/*/*/release
/*/release

*.pepk
*.apk
*.keystore
*.jks

*.iml
.DS_Store

.externalNativeBuild
.cxx

google-services.json